body{
    margin: 0;
    padding: 0;
    display: block;
}

.knopka{
    width: 200px;
    height: 50px;
    color: rgb(3, 12, 2);
    background-color: antiquewhite;
    text-decoration: none;
    border: none;
}

.Shapka{
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.cc{
    color: rgb(28, 49, 33);
    text-decoration: none;
    margin: 50px;
}

.ochova{
    display: flex;
    position: absolute;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-content: baseline;
    margin-left: 500px;
    margin-top: 100px;
}

.text{
    display: flex;

}

html{
    background-image: url(img/1675436213_gas-kvas-com-p-tsvetnoi-fonovii-risunok-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-title {
    text-align: center;
  }
  
  .slider-container {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }